*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  height: 30rem;
  width: 30rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-circle {
  width: 15rem;
  height: 15rem;
  background-color: rgb(255, 245, 133);
  border-radius: 50%;
  overflow: hidden;
}

.sun {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(255, 235, 147);
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 3;
}

.sky {
    background-color: rgb(144, 207, 255);
    height: 10rem;
    width: auto;
    position: relative;
    bottom: 20%;
    z-index: 2;
}

.pyramid {
  width: 5rem;
  height: 3rem;
  background-color: rgb(158, 149, 167);
  z-index: 10;
  position: absolute;
  top: 48%;
  left: 40%;
}
