*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main {
  width: 35rem;
  height: 35rem;
  font-family: "Courier New", "Courier", sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top right, #0222a0 0%, #61fff0 100%);
}

.content {
  position: relative;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.numtext {
  display: flex;
  justify-content: center;
}

.one-one {
  position: absolute;
  z-index: 5;
  height: 2rem;
  width: 4rem;
  background-color: aliceblue;
  transform: rotate(-50deg);
  top: 15%;
  left: 19.5%;
  border-radius: 5px;
}

.one-two {
  height: 8rem;
  width: 2rem;
  background-color: aliceblue;
  position: absolute;
  z-index: 6;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.two-one,
.two-two {
  height: 8rem;
  width: 8rem;
  border: 30px solid aliceblue;
  border-radius: 50%;
}

.zero {
  display: flex;
  gap: 0.5rem;
  position: relative;
  left: 3%;
}

.two-one {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.two-two {
  z-index: 2;
  position: relative;
  right: 10%;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.nomtext {
  position: absolute;
  top: 150%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
}

.day {
    font-size: 108px;
    font-weight: 600;
}

.csstxt {
    font-size: 33px;
    font-weight: 600;
}